<div class="grid-container">
  <div class="warning callout" *ngIf="warnMessage && warnMessage.length > 0">
    <p *ngFor="let msg of warnMessage" style="text-align: center"> <strong>{{ msg }}</strong></p>
  </div>
  <div class="alert callout" *ngIf="errorMessage && errorMessage.length > 0">
    <p style="text-align: center"> <strong>{{ errorMessage }}</strong></p>
  </div>
</div>


<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y">

    <div class="cell small-4 medium-4 large-4">
      <div class="card">
        <div class="card-divider">
          <h4>Portfoliokonstruktion</h4>
        </div>
        <div class="card-section">
          <div class="cell">
            <mat-form-field>
              <input matInput [formControl]="fromDateControl" [min]="minDate" [max]="maxDate"
                     [matDatepicker]="from_picker" placeholder="Startdatum wählen">
              <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
              <mat-datepicker #from_picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [formControl]="toDateControl" [min]="minDate" [max]="maxDate"
                     [matDatepicker]="to_picker" placeholder="Enddatum wählen">
              <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
              <mat-datepicker #to_picker></mat-datepicker>
            </mat-form-field>

            <form class="input-form">
            <mat-form-field class="form-full-width">
              <input matInput [formControl]="rfControl" type="number" [max]="maxRf"
                     placeholder="Risikoloser Zinssatz">
              <span matSuffix>%</span>
            </mat-form-field>
          </form>

            <form class="input-form">
            <mat-form-field class="form-full-width">
              <input matInput [formControl]="tauControl" type="number" placeholder="Skalierungsfaktor Tau (z.B. 0,025)">
            </mat-form-field>
            </form>

            <mat-slide-toggle [(ngModel)]="shrinkageChecked">Shrinkage Estimator</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="recommendationsChecked">Vorschlagsliste verwenden</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="viewsChecked">Eigene Views verwenden</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="backtestingChecked">Backtesting durchführen</mat-slide-toggle>

            <br>
            <div *ngIf="viewsChecked && recommendationsChecked" class="cell">
              <mat-form-field>
                <mat-select placeholder="ETF" [formControl]="viewControlETF1">
                  <mat-option *ngFor="let etf of recommendations" value="{{etf}}">{{etf}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Performance" [formControl]="viewControlOperator">
                  <mat-option value=">">outperformt</mat-option>
                  <mat-option value="<">underperformt</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="ETF" [formControl]="viewControlETF2">
                  <mat-option *ngFor="let etf of recommendations" value="{{etf}}">{{etf}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Stärke" [formControl]="viewControlStrength">
                  <mat-option value="0.01">gering</mat-option>
                  <mat-option value="0.03">mittel</mat-option>
                  <mat-option value="0.07">stark</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="cell">
              <a class="button primary" (click)="addView()">View hinzufügen</a>
                <div class="alert callout" *ngIf="viewErrorMessage && viewErrorMessage.length > 0">
                  <p style="text-align: center">{{ viewErrorMessage }}</p>
                </div>
              </div>

              <div class="card">
                <div class="card-divider"> <h5>View-Übersicht</h5></div>
                <div class="card-section">
                  <div *ngIf="views && views.length > 0; else noelements">
                    <div *ngFor="let view of views">
                      <p>{{view.isin1}} {{view.operator}} {{view.isin2}} mit {{view.adjustment}}</p>
                      <a class="button alert" (click)="removeView(view)">View entfernen</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div *ngIf="viewsChecked && !recommendationsChecked" class="cell">
              <mat-form-field>
                <mat-select placeholder="ETF" [formControl]="viewControlETF1">
                  <mat-option *ngFor="let etf of etflist" value="{{etf.isin}}">{{etf.isin}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Performance" [formControl]="viewControlOperator">
                  <mat-option value=">">outperformt</mat-option>
                  <mat-option value="<">underperformt</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="ETF" [formControl]="viewControlETF2">
                  <mat-option *ngFor="let etf of etflist" value="{{etf.isin}}">{{etf.isin}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Stärke" [formControl]="viewControlStrength">
                  <mat-option value="0.01">gering</mat-option>
                  <mat-option value="0.03">mittel</mat-option>
                  <mat-option value="0.07">stark</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <a class="button primary" (click)="addView()">View hinzufügen</a>

              <div class="card">
                <div class="card-divider"> <h5>View-Übersicht</h5></div>
                <div class="card-section">
                  <div *ngIf="views && views.length > 0; else noelements">
                    <div *ngFor="let view of views">
                      <p>{{view.isin1}} {{view.operator}} {{view.isin2}} mit {{view.adjustment}}</p>
                      <a class="button alert" (click)="removeView(view)">View entfernen</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="cell" *ngIf="backtestingChecked">
              <mat-form-field class="form-full-width">
                <input matInput [formControl]="btInitialInvestmentControl" type="number"
                       placeholder="Anlagebetrag">
                <span matSuffix>EUR</span>
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <input matInput [formControl]="btNumSimulationsControl" type="number"
                       placeholder="Anzahl Simulationen (Monte Carlo)">
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <input matInput [formControl]="btPredictedDaysControl" type="number"
                       placeholder="Vorhersagezeitraum (Monte Carlo) in Tagen">
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <input matInput [formControl]="btAlphaControl" type="number"
                       placeholder="Konfidenzniveau Alpha (VaR Berechnung)">
              </mat-form-field>
              <mat-form-field class="form-full-width">
                <input matInput [formControl]="btLookBackDaysControl" type="number"
                       placeholder="Zeitraum historische Simulation in Tagen">
              </mat-form-field>
              <mat-slide-toggle [(ngModel)]="btBrownianMotion">Monte-Carlo-VaR mit geom. Brownscher Bewegung</mat-slide-toggle>
            </div>
            <br>


            <a class="button primary" (click)="onButtonPressed()">Portfolios konstruieren</a>
          </div>
          <div class="card">
            <div class="card-divider"> <h5>ETF-Liste</h5></div>
            <div class="card-section">

              <div *ngIf="etflist && etflist.length > 0; else noelements">
                <div *ngFor="let etf of etflist">
                  <p>{{etf.name}} ({{etf.isin}}) <br>
                    <small>Market Cap: {{etf.market_cap_eur / 1000000000 | number:'1.2-2'}} Mrd. EUR</small>
                    <app-cartitem [product]="etf" ></app-cartitem>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cell small-8 medium-8 large-8">
      <div class="card" id="all-portfolios">
        <div class="card-divider">
          <h4>Ergebnisse</h4>
        </div>
        <div class="card-section">
          <div *ngIf="chart">
            <canvas id="canvas">{{ chart }}</canvas>
          </div>

          <br>
          <div class="card" *ngIf="portfolios">
            <div class="card-divider">
              <h5>Portfoliozusammensetzung</h5>
            </div>
            <div class="card-section">
                <app-piechart [portfolios]="portfolios"></app-piechart>
            </div>
          </div>
          <div class="card" *ngIf="portfolios">
            <div class="card-divider">
              <h5>Mean-Variance Optimization basierend auf historischen Renditen</h5>
            </div>
            <div class="card-section">
              <p>Erwartete Rendite (annualisiert): <strong>{{portfolios[0].tan_ret | percent:'1.0-0'}}</strong></p>
              <p>Erwartete Volatilität (annualisiert): <strong>{{portfolios[0].tan_stdev | percent:'1.0-0'}}</strong></p>
              <p *ngFor="let wgt of portfolios[0].tan_weights">
                {{wgt.isin}}: {{wgt.weight | percent:'1.0-0'}}
              </p>
            </div>
          </div>
          <div class="card" *ngIf="portfolios">
            <div class="card-divider">
              <h5>Mean-variance Optimization basierend auf Gleichgewichtsrenditen</h5>
            </div>
            <div class="card-section">
              <p>Erwartete Rendite (annualisiert): <strong>{{portfolios[1].tan_ret | percent:'1.0-0'}}</strong></p>
              <p>Erwartete Volatilität (annualisiert):<strong> {{portfolios[1].tan_stdev | percent:'1.0-0'}}</strong></p>
              <p *ngFor="let wgt of portfolios[1].tan_weights">
                {{wgt.isin}}: {{wgt.weight | percent:'1.0-0'}}
              </p>
            </div>
          </div>
          <div class="card" *ngIf="portfolios && portfolios.length > 2">
            <div class="card-divider">
              <h5>Mean-variance Optimization basierend auf Gleichgewichtsrenditen mit angepassten Views</h5>
            </div>
            <div class="card-section">
              <p>Erwartete Rendite (annualisiert): <strong>{{portfolios[2].tan_ret | percent:'1.0-0'}}</strong></p>
              <p>Erwartete Volatilität (annualisiert): <strong>{{portfolios[2].tan_stdev | percent:'1.0-0'}}</strong></p>
              <p *ngFor="let wgt of portfolios[2].tan_weights">
                {{wgt.isin}}: {{wgt.weight | percent:'1.0-0'}}
              </p>
            </div>
          </div>

          <div *ngIf="backtestingInput">
            <app-backtesting [backtestingInput]="backtestingInput"></app-backtesting>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


<ng-template #noelements>
  <div class="cell">
    Liste leer
  </div>
</ng-template>
