<div data-sticky-container id="nav" class="navbar-responsive">
  <div data-sticky data-margin-top="0">

    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">ETFApp</li>
      <li class="has-submenu">
        <a routerLink="/portfolio">Portfolio</a>
        <ul id="dd-menu" class="submenu menu vertical" data-submenu>
          <li><a routerLink="/portfolio">MVO</a></li>
          <li><a routerLink="/blacklitterman">Black-Litterman</a></li>
          <li><a routerLink="home">Korrelationsmatrix</a></li>
        </ul>
      </li>
      <li><a routerLink="/etfinfo">ETF-Überblick</a></li>
      <li><a routerLink="/etfdetail">ETF-Detailansicht</a></li>
      <li><a routerLink="/cluster">Cluster</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><app-shoppinglist></app-shoppinglist></li>
    </ul>
  </div>
</div>

  </div>
</div>
