<div data-sticky-container id="nav" class="navbar-responsive">
  <div data-sticky data-margin-top="0">

    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">ETFApp</li>
      <li class="has-submenu">
        <a routerLink="/portfolio">Portfolio</a>
        <ul id="dd-menu" class="submenu menu vertical" data-submenu>
          <li><a [routerLinkActive]="['route-active']" routerLink="/portfolio">MVO</a></li>
          <li><a [routerLinkActive]="['route-active']" routerLink="/blacklitterman">Black-Litterman</a></li>
          <!--<li><a routerLink="home">Korrelationsmatrix</a></li>-->
        </ul>
      </li>

      <li class="has-submenu">
        <a routerLink="/portfolio">Analyse</a>
        <ul id="dd-menu1" class="submenu menu vertical" data-submenu>
          <li><a [routerLinkActive]="['route-active']" routerLink="/network">Graph</a></li>
          <li><a [routerLinkActive]="['route-active']" routerLink="/worldmap">Karte</a></li>
          <li><a [routerLinkActive]="['route-active']" routerLink="/cluster">Cluster</a></li>
        </ul>
      </li>

      <li><a [routerLinkActive]="['route-active']" routerLink="/etfinfo">ETF-Überblick</a></li>
      <li><a [routerLinkActive]="['route-active']" routerLink="/etfdetail">ETF-Detailansicht</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
      <button class="button" type="button" data-toggle="shoppinglist-dropdown">ETF-Liste</button>
      <div class="dropdown-pane" id="shoppinglist-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
        <app-shoppinglist></app-shoppinglist>
      </div>
      </li>
      <li *ngIf="!isLoggedIn; else loggedIn"><a (click)="toggleAnimation()" data-toggle="loginModal">Login</a></li>
    </ul>
  </div>
</div>

  </div>
</div>

<ng-template #loggedIn>
  <!--<li><a routerLink="/login">Logout</a></li>-->
  <li><a (click)="onLogout()">Logout</a></li>
  <li><a routerLink="/home">User</a></li>
</ng-template>

<!-- Login Modal -->
<div [@openClose]="isOpen ? 'open' : 'closed'" class="small reveal" id="loginModal" data-reveal>
  <button (click)="toggleAnimation()" class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-login></app-login>
</div>


<!-- This is the nested modal within the login modal-->
<div class="small reveal" id="registrationModal" data-reveal>
  <button (click)="toggleAnimation()" class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-register></app-register>
</div>
