
.navbar-responsive {
  z-index: 5;
}


.slide {
  @include mui-animation(slide);
}


.route-active {
  background-color: #e6e6e6 !important;
}

#loginModal {

}

a:hover {
  background-color: #e6e6e6 !important;
}
