<div class="input-group">
  <input class="input-field" [formControl]="queryField" type="search" id="keyword" placeholder="Suche..."/>
</div>

<mat-form-field *ngIf="regions">
  <mat-select placeholder="Region" [formControl]="regionFilterField">
    <mat-option *ngFor="let region of regions.region" value="{{region}}">{{region}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Alter" [formControl]="ageFilterField">
    <mat-option value="2017-01-01">Älter als 1 Jahr</mat-option>
    <mat-option value="2015-01-01">Älter als 3 Jahre</mat-option>
    <mat-option value="2013-01-01">Älter als 5 Jahre</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Ergebnisverwendung" [formControl]="profitUseFilterField">
    <mat-option value="Ausschüttend">Ausschüttend</mat-option>
    <mat-option value="Thesaurierend">Thesaurierend</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Fondsgröße" [formControl]="fundSizeFilterField">
    <mat-option value="100">größer als 100 Mio. EUR</mat-option>
    <mat-option value="500">größer als 500 Mio. EUR </mat-option>
    <mat-option value="1000">größer als 1 Mrd. EUR </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Total Expense Ratio" [formControl]="terFilterField">
    <mat-option value="0.5">kleiner als 0,5% p.a.</mat-option>
    <mat-option value="0.25">kleiner als 0,25% p.a.</mat-option>
    <mat-option value="0.15">kleiner als 0,15% p.a. </mat-option>
  </mat-select>
</mat-form-field>

<div class="grid-container" id="grid">
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="cell small-4 medium-4 large-4">


      <div class="card" id="searched-etfs" *ngIf="searchResults && searchResults.length > 0">
        <div class="card-divider">
          <h4>{{searchResults.length}} ETFs gefunden</h4>
        </div>

        <div class="card-section" *ngIf="searchResults">
          <div *ngFor="let item of searchResults" class="cell">
            <a (click)="onClick(item)"> {{item?.name}} ({{item?.isin}})</a>
            <app-cartitem [product]="item" ></app-cartitem>
          </div>
        </div>
      </div>


      <div class="card" id="all-etfs" *ngIf="!searchResults || searchResults.length < 1">
        <div class="card-divider">
          <h4>Alle ETFs</h4>
        </div>
        <div *ngIf="etfinfos; else loading" class="card-section">
        <!--<div *ngIf="etfinfos | async; else loading"class="card-section">-->
          <!--<app-cart></app-cart>-->
          <div class="cell" *ngFor="let info of etfinfos[0]">
            <a (click)="onClick(info)"> {{info?.name}} ({{info?.isin}})</a>
            <app-cartitem [product]="info" ></app-cartitem>
            <!--<a (click)="onClick(info[0])"> {{info[0]?.name}} ({{info[0]?.isin}})</a>-->
          </div>
        </div>
      </div>

    </div>

    <div class="cell small-8 medium-8 large-8" data-sticky-container>
      <div class="sticky" data-sticky data-margin-top="4.35" data-anchor="all-etfs">
      <div class="card" *ngIf="selectedETF">
        <div class="card-divider">
          <h4>{{selectedETF?.name}} <small>({{selectedETF.isin}})</small></h4>
        </div>
        <div class="card-section" id="info-card">
          <div class="card">
          <div class="card-divider">
            <h5>Details</h5>
          </div>
          <div class="card-section">
          <div class="grid-x">
            <div class="cell small-6">
              <div class="cell large-auto">Emittent: {{selectedETF.issuer}}</div>
              <div class="cell large-auto">Total Expense Ratio: {{selectedETF?.ter / 100 | percent:'1.2-4'}}</div>
              <div class="cell large-auto">Assets under Management: {{selectedETF?.aum_mn_eur * 1000000 | currency:'EUR':'symbol':'4.0-0'}}</div>
              <div class="cell large-auto">Auflagedatum: {{selectedETF?.inception}}</div>
              <div class="cell large-auto">Ausschüttungsart: {{selectedETF?.distribution}}</div>
              <!--<div class="cell large-auto">Replikationsart: {{selectedETF?.replication_kind}}</div>-->
              <div class="cell large-auto">Replikation: {{selectedETF?.replication_detail}}</div>
              <div class="cell large-auto">Produkttyp: {{selectedETF?.product_type}} </div>
              <div class="cell large-auto">Assetklasse: {{selectedETF?.asset_class}}</div>
              <div class="cell large-auto">Region: {{selectedETF?.region}}</div>
              <div class="cell large-auto">Land: {{selectedETF?.country}}</div>
              <div class="cell large-auto">Sektor: {{selectedETF?.sector}}</div>
              <div class="cell large-auto">Indexname: {{selectedETF?.index_name}}</div>
              <div class="cell large-auto">Indexart: {{selectedETF?.index_type}}</div>
              <div class="cell large-auto">Indexreplikation: {{selectedETF?.index_replication}}</div>
              <div class="cell large-auto">Fondswährung: {{selectedETF?.fund_currency}}</div>
              <div class="cell large-auto">Handelswährung: {{selectedETF?.trade_currency}}</div>
            </div>
            <div class="cell small-6">
              <div class="cell large-auto">Strategie: {{selectedETF?.strategy}}</div>
              <div class="cell large-auto">Zugelassen in: {{selectedETF?.sale_permit}}</div>
              <div class="cell large-auto">Swap-Gegenpartei: {{selectedETF?.swap_counterpart}}</div>
              <div class="cell large-auto">Wertpapierleihe: {{selectedETF?.securities_lending}}</div>
              <div class="cell large-auto">Leihe-Gegenpartei: {{selectedETF?.lending_counterpart}}</div>
              <div class="cell large-auto">Wertpapiermanager: {{selectedETF?.securities_manager}}</div>
              <div class="cell large-auto"><a href="{{selectedETF?.pdf}}" target="_blank">PDF</a></div>
            </div>
          </div>
          </div>
          </div>

          <div class="card" *ngIf="chart">
            <div class="card-divider">
              <h5>Chart</h5>
            </div>
            <div class="card-section">
            <canvas id="canvas">{{ chart }}</canvas>
            </div>
          </div>

          <div class="card">
            <div class="card-divider">
              <h5>Wertentwicklung und Risiko</h5>
            </div>
            <div class="card-section" *ngIf="performance6m">
              <div class="cell">Performance 6 Monate (annualisiert): <b [ngClass]="{'positive' : performance6m.mean > 0,
               'negative' : performance6m.mean < 0}">{{performance6m.mean | percent:'1.0-2'}}</b></div>
              <div class="cell">Standardabweichung 6 Monate (annualisiert): <b>{{performance6m.std | percent:'1.0-2'}}
              </b></div>
              <div class="cell">Sharpe Ratio 6 Monate: <b>{{performance6m.sharpe | number:'1.2-2'}}</b></div>
            </div>
            <div class="card-section" *ngIf="performance1y">
              <div class="cell">Performance 1 Jahr: <b [ngClass]="{'positive' : performance1y.mean > 0,
              'negative' : performance1y.mean < 0}">{{performance1y.mean | percent:'1.0-2'}}</b></div>
              <div class="cell">Standardabweichung 1 Jahr: <b>{{performance1y.std | percent:'1.0-2'}}</b></div>
              <div class="cell">Sharpe Ratio 1 Jahr: <b>{{performance1y.sharpe | number:'1.2-2'}}</b></div>
            </div>
            <div class="card-section" *ngIf="performance3y">
              <div class="cell">Performance 3 Jahre (annualisiert): <b [ngClass]="{'positive' : performance3y.mean > 0,
              'negative' : performance3y.mean < 0}">{{performance3y.mean | percent:'1.0-2'}}</b></div>
              <div class="cell">Standardabweichung 3 Jahre (annualisiert): <b>{{performance3y.std | percent:'1.0-2'}}
              </b></div>
              <div class="cell">Sharpe Ratio 3 Jahre: <b>{{performance3y.sharpe | number:'1.2-2'}}</b></div>
            </div>
            <div class="card-section" *ngIf="performance5y">
              <div class="cell">Performance 5 Jahre (annualisiert): <b [ngClass]="{'positive' : performance5y.mean > 0,
              'negative' : performance5y.mean < 0}">{{performance5y.mean | percent:'1.0-2'}}</b></div>
              <div class="cell">Standardabweichung 5 Jahre (annualisiert): <b>{{performance5y.std | percent:'1.0-2'}}
              </b></div>
              <div class="cell">Sharpe Ratio 5 Jahre: <b>{{performance5y.sharpe | number:'1.2-2'}}</b></div>
            </div>
          </div>


        </div>


      </div>
    </div>

      </div>
  </div>

</div>


<ng-template #loading>
  Lade Daten...
</ng-template>
