#info-card {
  overflow-y: scroll !important;
  max-height: 70vh;
}

.positive {
  color: #1779ba;
}

.negative {
  color: #F26968;
}

#keyword {
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

#filter-grid {
  z-index: -1;
}

#paginationCell {
  background-color: #e6e6e6;
  margin-bottom: 0px !important;
  margin-top: 1em;
}

.pagination {
  margin-top: 1rem;
}

