.node {
  cursor: pointer;
  transition: stroke-width 0.2s ease-out,
  fill 0.2s ease-out,
  stroke 0.2s ease-out;

  stroke: white;
  stroke-width: 0.85;
}

.node-name {
  /*font-family: 'Lato';*/
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 800;
  fill: white;
}
