/*body {*/
  /*background: #222;*/
  /*font-family: sans-serif;*/
/*}*/

.border {
  fill: none;
  stroke: #222222;
  stroke-width: 1px;
}

.regions.selected {
  fill: #1779ba;
  stroke: none;
  stroke-width: 1px;
  transition: all 0.2s ease;
}

.regions.selected:hover {
  fill: rgb(128, 186, 236);
  stroke: rgb(128, 186, 236);
  stroke-width: 1px;
}

/*.legend {*/
  /*height: 10px;*/
  /*color: #CCC;*/
  /*text-align: center;*/
/*}*/


div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 2px;
  font: 12px sans-serif;
  background: #e6e6e6;
  color:  black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

